
body {
    
    background-color: rgba(128, 128, 128, 0.596);
    height: 100%;
    background-color: grey;
    font-family: Arial; 
    
    
}


h1{
    color: rgb(136, 51, 51);
}

p {
    color: black;
}
footer {
    height: 50px;
    position: bottom ;
    
    
    bottom: 1;
    width: 100%;
    background-color: rgb(70, 67, 67);
    color: white;
    text-align: center;
}

a:hover{
    color: green;
}
